In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('Louisville_Metro_KY_-_Inspection_Results_Food_Service_Establishments.csv')

In [34]:
df.columns

Index(['ScoreRecent', 'GradeRecent', 'DateRecent', 'Score2', 'Grade2', 'Date2',
       'Score3', 'Grade3', 'Date3', 'permit_number', 'facility_type',
       'facility_type_description', 'subtype', 'subtype_description',
       'premise_name', 'premise_address', 'premise_city', 'premise_state',
       'premise_zip', 'opening_date', 'ObjectId'],
      dtype='object')

Reformat all columns so that everything is uniform and snake case.

In [35]:
fixed_columns = {'ScoreRecent':'Score_Recent', 
                 'GradeRecent':'Grade_Recent', 
                 'DateRecent':'Date_Recent', 
                 'Score2':'Score_2', 
                 'Grade2':'Grade_2', 
                 'Date2':'Date_2',
                 'Score3':'Score_3', 
                 'Grade3':'Grade_3', 
                 'Date3':'Date_3', 
                 'permit_number':'Permit_Number', 
                 'facility_type':'Facility_Type',
                 'facility_type_description':'Facility_Type_Description', 
                 'subtype':'Subtype', 
                 'subtype_description':'Subtype_Description',
                 'premise_name':'Premise_Name', 
                 'premise_address':'Premise_Address', 
                 'premise_city':'Premise_City', 
                 'premise_state':'Premise_State',
                 'premise_zip':'Premise_Zip', 
                 'opening_date':'Opening_Date', 
                 'ObjectId': 'Object_Id'}

In [36]:
df.rename(columns= fixed_columns, inplace= True)

In [37]:
df.head(3)

,Score_Recent,Grade_Recent,Date_Recent,Score_2,Grade_2,Date_2,Score_3,Grade_3,Date_3,Permit_Number,...,Facility_Type_Description,Subtype,Subtype_Description,Premise_Name,Premise_Address,Premise_City,Premise_State,Premise_Zip,Opening_Date,Object_Id
0,99,A,2022/08/31 00:00:00,98,A,2022/06/07 00:00:00,99,A,2021/08/19 00:00:00,33419,...,FOOD SERVICE ESTABLISHMENT,11,FOOD SERVICE,HUNTING CREEK POOL CONCESSION,6807 FOXCROFT RD,PROSPECT,KY,40059,1988/08/03 00:00:00,1
1,100,NaN,2022/05/06 00:00:00,100,A,2022/05/06 00:00:00,0,NaN,NaN,112310,...,FOOD SERVICE ESTABLISHMENT,52,SELF-CONTAINED MOBILE FOOD UNITS,TUMBLEWEED FOOD TRUCK,NaN,LOUISVILLE,KY,40202,2021/04/26 00:00:00,2
2,100,NaN,2022/07/06 00:00:00,100,NaN,2021/07/23 00:00:00,100,NaN,2019/11/04 00:00:00,29956,...,RETAIL FOOD STORES,62,PRE-PACKAGED RETAIL,CVS #6211,3721 LEXINGTON RD,LOUISVILLE,KY,40207,1988/06/27 00:00:00,3

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5946 entries, 0 to 5945
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Score_Recent               5946 non-null   int64
 1   Grade_Recent               3597 non-null   object
 2   Date_Recent                4852 non-null   object
 3   Score_2                    5946 non-null   int64
 4   Grade_2                    3031 non-null   object
 5   Date_2                     4328 non-null   object
 6   Score_3                    5946 non-null   int64
 7   Grade_3                    3177 non-null   object
 8   Date_3                     3920 non-null   object
 9   Permit_Number              5946 non-null   int64
 10  Facility_Type              5946 non-null   int64
 11  Facility_Type_Description  5946 non-null   object
 12  Subtype                    5946 non-null   int64
 13  Subtype_Description        5946 non-null   object
 14  Premise_Name               5946 non-null   object
 15  Premise_Address            4268 non-null   object
 16  Premise_City               5946 non-null   object
 17  Premise_State              5946 non-null   object
 18  Premise_Zip                5946 non-null   int64
 19  Opening_Date               5896 non-null   object
 20  Object_Id                  5946 non-null   int64
dtypes: int64(8), object(13)
memory usage: 975.6+ KB

Change columns comtaining date data to datetime datatypes.

In [40]:
df[['Date_Recent','Date_2','Date_3','Opening_Date']] = df[['Date_Recent','Date_2','Date_3','Opening_Date']].apply(pd.to_datetime)

In [42]:
df.head()

,Score_Recent,Grade_Recent,Date_Recent,Score_2,Grade_2,Date_2,Score_3,Grade_3,Date_3,Permit_Number,...,Facility_Type_Description,Subtype,Subtype_Description,Premise_Name,Premise_Address,Premise_City,Premise_State,Premise_Zip,Opening_Date,Object_Id
0,99,A,2022-08-31,98,A,2022-06-07,99,A,2021-08-19,33419,...,FOOD SERVICE ESTABLISHMENT,11,FOOD SERVICE,HUNTING CREEK POOL CONCESSION,6807 FOXCROFT RD,PROSPECT,KY,40059,1988-08-03,1
1,100,NaN,2022-05-06,100,A,2022-05-06,0,NaN,NaT,112310,...,FOOD SERVICE ESTABLISHMENT,52,SELF-CONTAINED MOBILE FOOD UNITS,TUMBLEWEED FOOD TRUCK,NaN,LOUISVILLE,KY,40202,2021-04-26,2
2,100,NaN,2022-07-06,100,NaN,2021-07-23,100,NaN,2019-11-04,29956,...,RETAIL FOOD STORES,62,PRE-PACKAGED RETAIL,CVS #6211,3721 LEXINGTON RD,LOUISVILLE,KY,40207,1988-06-27,3
3,97,A,2023-01-20,100,A,2022-07-20,98,A,2021-11-05,103825,...,FOOD SERVICE ESTABLISHMENT,11,FOOD SERVICE,TEXAS ROADHOUSE,5005 SHELBYVILLE RD,LOUISVILLE,KY,40207,2017-10-26,4
4,99,A,2023-05-17,96,A,2022-10-13,100,A,2022-05-13,91739,...,FOOD SERVICE ESTABLISHMENT,11,FOOD SERVICE,CASPIAN GRILL PERSIAN BISTRO,2716 FRANKFORT AVE,LOUISVILLE,KY,40206,2012-09-07,5